<li id="post-<%= posts[i]._id %>"> 
    <p>
        <% if (locals.user && locals.user.id  == posts[i].user.id ) {%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= posts[i].id %>">X</a>
            </small>
        <% } %>    
        <%= posts[i].content %>
        <br>
        <small>
            <%= posts[i].user.name %>
        </small>
    </p>

    <div class="post-comments">
        <% if(locals.user){ %>
            <form action="/comment/create" class="new-comment-form" method="POST">
                <textarea name="content" id="" cols="30" rows="2" placeholder="Type here...." required></textarea>
                <input type="hidden" name="post" value="<%= posts[i]._id %>">
                <input type="submit" value="Add Comment">
            </form>
        <% } %>

        <div class="post-comment-list">
            <ul id="post-comments-<%= posts[i]._id %>">

                <% for (comment of posts[i].comments) { %> 

                   <%-include('_comment')-%>
                    
                <% } %>

            </ul>
        </div>
    </div>
    
</li>
